*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', 'Merriweather';
}

.containertop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  position: relative;
  width: 100%;
}

.navbar-right {
  width: auto;
}

.navbar-right ul {
  display: flex;
  justify-content: flex-end;
}

.navbar-right li {
  padding: 2.5em .5em;
  font-size: .8rem;
  font-weight: bold;
  color: #012832;
  overflow: hidden;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
}

.navbar-left img {
  padding: 1rem;
  max-width: 40%;
  margin: auto;
}

.work img {
  padding: .5rem;
  max-width: 60%;
  margin: auto;
}

.work li {
  padding: .5em;
  padding-right: 0;
  font-size: .8rem;
  font-weight: bold;
  color: #012832;
  overflow: hidden;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .navbar-right li {
    font-size: 1.2rem;
    padding: 2em 1em;
  }

  .navbar-left img {
    padding: 1rem;
    max-width: 65%;
    margin: auto;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {
  .navbar-right li {
    font-size: 1.5rem;
    padding: 2em 1em;
    padding-top:
  }

  .navbar-left img {
    padding: 1rem;
    max-width: 90%;
    margin: auto;
  }
}

.containerintro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.containerintro h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #012832;
  font-family: Montserrat;
  text-align: center;
  line-height: 1.8em;
}

.containerintro h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #F9600A;
  font-family: Montserrat;
  text-align: center;
  padding: 2% 5%;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .containerintro h2 {
    font-size: 2.5rem;
    max-width: 80%;
    margin: auto;
  }

  .containerintro h1 {
    font-size: 3rem;
    max-width: 80%;
    margin: auto;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {
  .containerintro h2 {
    font-size: 3rem;
  }

  .containerintro h1 {
    font-size: 4rem;
  }
}

.case-study, .aboutme, .contactme {
  padding-top: 5%;
}

.containerdatabox, .containerme, .containerinfo {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.containerinfo {
  background-color: #FFFF;
}

.containerdatabox img {
  width: 70%;
  padding-top: 10%;
}

.containerdatabox h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #012832;
  font-family: Montserrat;
  max-width: 80%;
  margin: auto
}

.containerdatabox p, .containerme p {
  font-size: .8rem;
  font-weight: 400;
  color: #012832;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-family: Merriweather;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.containerme h1 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #012832;
  font-family: Montserrat;
  text-align: center;
  padding-top: 5%;
  max-width: 80%;
  margin: auto
}

.containerinfo h1 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #012832;
  font-family: Montserrat;
  padding-bottom: 5%;
}

.containerinfo a {
  background-color: #21201F;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .containerdatabox img, .containerfitapp img {
    width: 80%;
  }

  .case-study, .aboutme, .contactme {
    padding-top: 5%;
  }

  .containerdatabox h2, .containerfitapp h2 {
    font-size: 1.5rem;
    max-width: 80%;
    margin: auto;
  }

  .containerdatabox p, .containerfitapp p, .containerme p {
    font-size: 1.3rem;
  }

  .containerme h1, .containerinfo h1 {
    font-size: 2.5rem;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {
  .containerdatabox h2, .containerfitapp h2 {
    font-size: 2.2rem;
    padding-top: 2%;
  }

  .containerdatabox p, .containerfitapp p, .containerme p {
    font-size: 1.2rem;
  }

  .containerme h1, .containerinfo h1 {
    font-size: 2.5rem;
  }

  .containerdatabox img, .containerfitapp img {
    width: 50%;
  }
}

.containerbottom {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.footer-right {
  width: auto;
}

.footer-right ul {
  display: flex;
  justify-content: flex-end;
}

.footer-right li {
  padding-top: 2em;
  padding-right: .1rem;
  overflow: hidden;
}

.footer-right img {
  width: 40%;
  height: auto;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
}

.footer-left h6 {
  font-size: .5em;
  font-weight: 600;
  color: #21201F;
  font-family: Montserrat;
  padding-top: 2.5rem;
  padding-left: .5rem;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .footer-right li {
    padding: 4rem 1rem;
    overflow: hidden;
  }

  .footer-left h6 {
    font-size: 1.3em;
    padding-top: 3.5em;
  }

  .footer-right img {
    width: 90%;
    height: auto;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {
  .footer-right li {
    padding: 4rem 2rem;
    overflow: hidden;
  }

  .footer-left h6 {
    font-size: 1.1rem;
    padding-top: 4.2em;
    font-weight: 600;
  }
}

.containerdatabox, .containerme, .button {
  padding-bottom: 5%;
}

.button button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  border-radius: 8px;
  padding: 0 15px;
  margin: 0 auto;
  color: #FFFF;
  background-color: #F9600A;
  text-align: center;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: .1rem;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: #333333;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #F7B334;
}

/* case-study data box */
.databoxcontainer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.databoxcontainer h1 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  padding-top: 2%;
  max-width: 80%;
  margin: auto;
}

.databoxcontainer h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #012832;
  font-family: Montserrat;
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding-bottom: 2%;
}

.databoxcontainer img {
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: #696969;
  margin-top: 10%;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .databoxcontainer img {
    width: 80%;
  }

  .databoxcontainer h1 {
    font-size: 2.5rem;
    padding-bottom: 2%;
  }

  .databoxcontainer h3 {
    font-size: 1.5rem;
    padding-bottom: 5%;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {
  .databoxcontainer img, {
    width: 90%;
  }

  .databoxcontainer h1 {
    font-size: 3.5rem;
    max-width: 75%;
    margin: auto;
  }

  .databoxcontainer h3 {
    font-size: 2.2rem;
    max-width: 75%;
    margin: auto;
  }
}

.summarycontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.summarycontainer h1 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  max-width: 80%;
  margin: auto;
  padding-top: 2%;
}

.summarycontainer p {
  font-size: 1.1rem;
  color: #21201F;
  line-height: 1.8;
  font-family: Merriweather;
  max-width: 80%;
  margin: auto;
  padding-bottom: 2%;
}

.mainpoints span {
  font-weight: 600;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .summarycontainer h1 {
    font-size: 1.5rem;
    max-width: 85%;
    margin: auto;
  }

  .summarycontainer p {
    font-size: 1.2rem;
    max-width: 85%;
    margin: auto;
  }

  .mainpoints p {
    padding-left: 1.5em;
  }
}

/* Desktops and laptops ----------- */
@media (min-width:1024px) {
  .summarycontainer h1 {
    font-size: 2rem;
    width: 85%;
    max-width: 100%;
    margin: auto;
    text-align: left;
  }
  .summarycontainer p , .mainpoints p {
    font-size: 1.5rem;
    width: 85%;
    max-width: 100%;
    margin: auto;
  }
  .mainpoints{
    width: 100%;
    margin:auto;
  }

}

.probsoulcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
}

.probsoulcontainer h1 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  text-align: left;
  max-width: 80%;
  margin: auto;
  padding-top: 2%;
}

.probsoulcontainer p {
  font-size: 1.1rem;
  color: #21201F;
  padding-bottom: 2%;
  line-height: 1.8;
  font-family: Merriweather;
  max-width: 80%;
  margin: auto;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .probsoulcontainer h1 {
    font-size: 1.5rem;
    max-width: 85%;
    margin: auto;
  }

  .probsoulcontainer p {
    font-size: 1.3rem;
    line-height: 1.5;
    max-width: 85%;
    margin: auto;
  }
}

/* Desktops and laptops ----------- */
@media (min-width:1024px) {
  .problemleft , .solutionright {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  .problemleft h1, .solutionright h1 {
    font-size: 2rem;
  }
  .problemleft p, .solutionright p {
    font-size: 1.5rem;
    width: 85%;
    max-width: 100%;
    margin: auto;
  }
}

.process1, .process2, .process3, {
  background-color: #f2f2f2
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.title {
  color: #F9600A;
  font-family: Montserrat;
  font-size: 1.3rem;
  text-decoration: underline;
  padding-top: 3%;
  padding-bottom: 1%;
  max-width: 80%;
  margin: auto;
}
.subtitle {
  color: #012832;
  font-family: Montserrat;
  font-size: 1.2em;
  padding-top: 5%;
  padding-bottom: 1%;
  max-width: 80%;
  margin: auto;
  text-decoration: underline;
}
.points {
  font-size: 1rem;
  color: #21201F;
  font-family: Merriweather;
  line-height: 1.8;
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 80%;
  margin: auto;
}
.resanddis h3 {
  max-width: 80%;
  margin-left: 50%;
}
.resanddis p{
font-size: 1.1rem;
color: #21201F;
line-height: 1.8;
font-family: Merriweather;
max-width: 80%;
margin: auto;
padding-top: 2%;
padding-bottom: 2%;
}
.goalpoints span {
  font-weight: 600;
  }
.userflows h3 {
  max-width: 80%;
  margin-left: 12%;
}
.infoarch h3 {
  max-width: 80%;
  margin-left: 10%;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .resanddis , .analysis{
    width: 85%;
    max-width: 100%;
    margin: auto;
  }
  .resanddis h3, .analysis h3, .goalpoints p, .analysis p {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  .title {
    font-size: 1.8rem;
    max-width: 85%;
    margin: auto;
  }
  .subtitle {
    font-size: 1.5rem;
    max-width: 85%;
    margin: auto;
  }
  .points {
    font-size: 1.3rem;
    max-width: 85%;
    margin: auto;
  }
  .container {
    max-width: 100%;
    margin: auto;
  }

  .goalpoints p{
  font-size: 1.3rem;
  }

  .userflows h3 {
    max-width: 85%;
    margin-left: 10%;
  }
  .infoarch h3 {
    max-width: 85%;
    margin-left: 7%;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {
  .container {
    max-width: 100%;
    margin: auto;
  }
  .title {
    font-size: 2.2rem;
    max-width: 85%;
    margin: auto;
  }
  .subtitle {
    font-size: 1.5rem;
    max-width: 85%;
    margin: auto;
  }
  .points {
    font-size: 1.2rem;
    max-width: 85%;
    margin: auto;
  }
  .resanddis , .analysis{
    width: 85%;
    max-width: 100%;
    margin: auto;
  }
  .resanddis h3, .analysis h3, .goalpoints p, .analysis p {
    font-size: 1.5rem;
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  .userflows h3 {
    margin-left:7%;
  }
  .infoarch h3 {
    max-width: 85%;
    margin-left: 7%;
  }
  .preferencetesting p{
    width: 85%;
    max-width: 100%;
    margin: auto;
  }
}

.analysispoints span, .pointsmainleft span, .testing2points span {
  line-height: 1.2;
  font-family: Merriweather;
  font-weight: 600;
  padding-top: 1%;
}

/*Tablets ----------- */
@media (min-width:640px) {}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {}

.surveyimages, .personaimages, .userstoryimage, .userflowimage1, .userflowimage2, .sitemapimage, .wireframeimage, .brandingimages, .mockupimages, .branding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surveyimages img, .personaimages img, .userstoryimage img, .userflowimage1 img, .userflowimage2 img, .sitemapimage img, .wireframeimage img, .brandingimages img, .mockupimages img {
  border: 1px solid #BFBFBF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.brandingimages1, .brandingimages2, .brandingimages3 {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #BFBFBF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2%;
  margin-bottom: 2%;
}

.imageleft {
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.imageright {
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .mockupimages, .brandingimages, .userflowimage1, .userflowimage2 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .surveyimages img, .personaimages img, .userstoryimage img, .userflowimage1 img, .userflowimage2 img, .sitemapimage img, .wireframeimage img, .brandingimages img, .mockupimages img {
    max-width: 75%;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {
  .branding {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mockupimages, .brandingimages, .userflowimage1, .userflowimage2, {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .surveyimages img, .personaimages img, .userstoryimage img, .userflowimage1 img, .userflowimage2 img, .wireframeimage img, .brandingimages img, .mockupimages img {
    max-width: 85%;
  }

  .sitemapimage {
    max-width: 85%;
    margin: auto;
  }
}

.survey a, .analysis a, .persona a, .userstories a, .userflows a, .usabilitytestingpart1 a {
  text-decoration: none;
  color: #2F80ED;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  border-radius: 8px;
  padding: 0 15px;
  margin: 0 auto;
  color: #FFFF;
  background-color: #F9600A;
  text-align: center;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: .1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.insightscontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2%;
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 10%;
}

.insightsleft h1, .insightsright h1 {
  font-size: 1.3em;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  text-align: left;
  padding-top: 2%;
  max-width: 80%;
  margin: auto;
}

.insightsleft p, .insightsright p {
  font-size: 1.1em;
  color: #21201F;
  line-height: 1.8;
  font-family: Merriweather;
  padding-top: 2%;
  padding-bottom: 2%;
  max-width: 80%;
  margin: auto;
}

/*Tablets ----------- */
@media (min-width:640px) {
  .insightsleft h1, .insightsright h1 {
    font-size: 2em;
    max-width: 85%;
    margin: auto;
  }

  .insightsleft p, .insightsright p {
    font-size: 1.3em;
    max-width: 85%;
    margin: auto;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 1024px) {
  .insightsleft h1, .insightsright h1 {
    font-size: 2.2em;
    max-width: 85%;
    margin: auto;
  }

  .insightsleft p, .insightsright p {
    font-size: 1.5em;
    max-width: 85%;
    margin: auto;
  }
}

/* About me page */
.heroimage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroimage img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.containermybio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5%;
  width: 100%;
}

.containermybio h1 {
  font-size: 1.3em;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  text-align: center;
  padding-top: 5%;
  max-width: 80%;
  margin: auto;
}

.containermybio p {
  font-size: 1.1em;
  color: #012832;
  line-height: 1.8;
  font-family: Montserrat;
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 80%;
  width: 80%;
  max-width: 1024px;
  margin: auto;
  text-align: left;
}

.contactinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.coninfo h1 {
  font-size: 1.3em;
  font-weight: 800;
  color: #012832;
  font-family: Montserrat;
  text-align: center;
  padding-bottom: 5%;
  width: 80%;
  max-width: 1024px;
  margin: auto;
}

.coninfobutton, .myresume {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: auto;
  padding-bottom: 5%;
}

.coninfobutton a {
  background-color: #21201F;
}

@media (min-width:640px) {
  .paintingimage {
    max-width: 100%;
    margin: auto;
  }

  .paintingimage img {
    width: 100%;
  }

  .containermybio h1, .coninfo h1 {
    font-size: 2.5rem;
  }

  .containermybio p {
    font-size: 1.3rem;
    font-style: italic;
    color: #012832;
  }
}

@media (min-width:1024px) {
  .paintingimage {
    max-width: 100%;
    margin: auto;
  }

  .paintingimage img {
    width: 100%;
  }

  .containermybio h1 {
    font-size: 2.5rem;
  }

  .containermybio p {
    font-size: 1.5rem;
  }
}
