*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', 'Merriweather';
}

.containertop {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.navbar-right {
  width: auto;
}

.navbar-right ul {
  display: flex;
  justify-content: flex-end;
}

.navbar-right li {
  padding: 2em .5em;
  font-size: .8rem;
  font-weight: bold;
  color: #012832;
  overflow: hidden;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
}

.navbar-left img {
  padding: 1rem;
}

.containerintro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.containerintro h1, h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #012832;
  font-family: Montserrat;
  text-align: center;
  line-height: 1.8em;
}

.containerintro p {
  font-size: 2rem;
  font-weight: bold;
  color: #F9600A;
  font-family: Montserrat;
  text-align: center;
  padding: 2% 5%;
}

.case-study, .aboutme, .contactme {
  padding-top: 15%;
}

.containerdatabox, .containerfitapp, .containerme, .containerinfo {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.containerinfo {
  background-color: #FFFF;
}

.containerdatabox img, .containerfitapp img {
  width: 70%;
  padding-top: 10%;
}

.containerdatabox h2, .containerfitapp h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #012832;
  font-family: Montserrat;
}

.containerdatabox p, .containerfitapp p, .containerme p {
  font-size: .8rem;
  font-weight: 400;
  color: #012832;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-family: Merriweather;
  padding-bottom: 5%;
  text-align: center;
}

.containerme h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #012832;
  font-family: Montserrat;
  padding-top: 10%;
}

.containerme p {
  font-size: 1.2em;
  font-weight: 400;
  color: #21201F;
  font-family: Merriweather;
  letter-spacing: 0.1em;
  line-height: 1.8;
  padding-top: 10%;
  text-align: center;
}

.containerinfo h1 {
  font-size: 2em;
  font-weight: 500;
  color: #012832;
  font-family: Montserrat;
  padding-bottom: 10%;
}

.containerinfo a {
  background-color: #21201F;
}

.containerbottom {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.footer-right {
  width: auto;
}

.footer-right ul {
  display: flex;
  justify-content: flex-end;
}

.footer-right li {
  padding: 3rem .5rem;
  overflow: hidden;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
}

.footer-left h6 {
  font-size: 0.666rem;
  font-weight: 400;
  color: #21201F;
  font-family: Montserrat;
  padding-top: 4rem;
  padding-left: .5rem;
}

.containerdatabox, .containerfitapp, .containerme, .button {
  padding-bottom: 10%;
}

.button button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  border-radius: 8px;
  padding: 0 15px;
  margin: 0 auto;
  color: #FFFF;
  background-color: #F9600A;
  text-align: center;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: .1rem;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: #333333;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #F7B334;
}

/* case-study data box */
.databoxcontainer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.databoxcontainer h1 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
}

.databoxcontainer h3 {
  font-size: .8rem;
  font-weight: 600;
  color: #012832;
  font-family: Montserrat;
}

.databoxcontainer img {
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: #696969;
  margin-top: 10%;
}

.summarycontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.summarycontainer h2 {
  font-size: 1.2em;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  padding-bottom: 2%;
  max-width: 80%;
  margin: auto;
}

.summarycontainer p {
  font-size: .8em;
  color: #21201F;
  line-height: 1.8;
  font-family: Merriweather;
  text-align: left;
  max-width: 80%;
  margin: auto;
  padding-bottom: 2%;
}

.mainpoints span {
  font-weight: 600;
}

.probsoulcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
}

.problemleft {
  width: auto;
  overflow: hidden;
  float: left;
}

.problemleft h2, .solutionright h2 {
  font-size: 1.2em;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  text-align: left;
  max-width: 80%;
  margin: auto;
  padding-top: 1rem;
}

.problemleft p, .solutionright p {
  font-size: .8em;
  color: #21201F;
  padding-bottom: 20px;
  line-height: 1.8;
  font-family: Merriweather;
  max-width: 80%;
  margin: auto;
}

.process1, .process2, .process3, {
  background-color: #f2f2f2
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5%;
  width: 100%;
}

.title {
  color: #F9600A;
  font-family: Montserrat;
  font-size: 1.3em;
  text-decoration: underline;
  padding-top: 5%;
  max-width: 80%;
  margin: auto;
}

.subtitle {
  color: #012832;
  font-family: Montserrat;
  font-size: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 80%;
  margin: auto;
  text-decoration: underline;
}

.points {
  font-size: .8em;
  color: #21201F;
  font-family: Merriweather;
  line-height: 1.8;
  max-width: 80%;
  margin: auto;
}

.goalpoints span, .analysispoints span, .pointsmainleft span, .testing2points span {
  font-style: italic;
  line-height: 1.2;
  font-family: Merriweather;
  font-weight: 600;
  padding-top: 2%;
}

.surveyimages, .personaimages, .userstoryimage, .userflowimage1, .userflowimage2, .sitemapimage, .wireframeimage, .brandingimages, .mockupimages, .branding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surveyimages img, .personaimages img, .userstoryimage img, .userflowimage1 img, .userflowimage2 img, .sitemapimage img, .wireframeimage img, .brandingimages img, .mockupimages img {
  border: 1px solid #BFBFBF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}

.branding img, .brandingimages1, .brandingimages2 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #BFBFBF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2%;
  margin-bottom: 2%;
}

.sitemapimage, {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #BFBFBF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}

.imageleft {
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}

.imageright {
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}

.survey a, .analysis a, .persona a, .userstories a, .userflows a, .usabilitytestingpart1 a {
  text-decoration: underline;
  color: #F9600A;
  font-weight: 600;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  border-radius: 8px;
  padding: 0 15px;
  margin: 0 auto;
  color: #FFFF;
  background-color: #F9600A;
  text-align: center;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: .1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.insightscontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2%;
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 10%;
}

.insightsleft h1, .insightsright h1 {
  font-size: 1.2em;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  text-align: left;
  padding-top: 5%;
  max-width: 80%;
  margin: auto;
}

.insightsleft p, .insightsright p {
  font-size: .8em;
  color: #21201F;
  line-height: 1.8;
  font-family: Merriweather;
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 80%;
  margin: auto;
}

.nextstudy a {
  font-size: .8em;
  font-weight: 500;
  color: #21201F;
  text-decoration: underline;
  margin-left: 60%;
}

/* About me page */
.heroimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.heroimage img {
  width: 100%;
}

.coninfo h1, .mybio h1 {
  font-size: 1.5em;
  font-weight: 800;
  color: #F9600A;
  font-family: Montserrat;
  text-align: center;
  padding-top: 20px;
}
